:root, body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins';
    font-size: 10px;
}
:root {
    opacity: 0%;
}
/* wrapper for whole page */
.display-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 7% 93%;
    grid-template-columns: max(15%, 150px) 85%;
}
/* css for header section */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: blue;
    box-shadow: 0rem 0rem 1.5rem 0.5rem rgb(1, 86, 255);
    z-index: 2;
}
/* css for logo part of header */
.logo {
    display: flex;
    align-items: center;
    color: white;
    padding-left: 1rem;
}
#logo-svg {
    margin: 0.5rem;
    width: 4rem;
}
.logo-text {
    font-size: 2.4rem;
}
/* for timer and information on user's location (in header) */
#leftWrap{
    display: flex;
    font-size: 1.6rem;
    width: 23rem;
    justify-content: space-between;
    color: white;
    padding-right: 2rem;
}
#clock {
    color: white;
}
/* css for sidebar */
.sidebar {
    z-index: 0;
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: #dcdcdc;
}
.bookmark-header {
    font-size: 2.4rem;
    color: grey;
    font-weight: 200;
    padding: 2.5rem 0rem 0rem 1.5rem;
}
.bookmark-container {
    font-weight: 200;
    color: rgb(115, 115, 115);
    display: flex;
    flex-direction: column;
}
.bookmark {
    display: flex;
    padding: 0.5rem 1.5rem 0.5rem 3rem;
    font-size: 1.5rem;
    justify-content: space-between;
    font-weight: 200;
    border: none;
    color: rgb(98, 98, 98);;
    transition: background-color 500ms ease-in-out;
    background-color: #dcdcdc;
    text-align: start;
}
.bookmark:hover {
    transition: background-color 500ms ease-in-out;
    background-color: rgb(191, 191, 191);
}
.delete-btn {
    width: 1.5rem;
}
/* css for content section */
#content {
    display: flex;
    flex-direction: column;
    z-index: 1;
    box-shadow: -0.1rem 0rem 1rem 0rem gray;
    grid-row: 2/3;
    grid-column: 2/3;
}
.info-wrapper {
    display: flex;
    flex-direction: column;
}
#info-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.general {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    font-size: 1.6rem;
    gap: 1.4rem;
    padding: 1rem;
}
#cityName {
    margin: 2rem;
    text-align: center;
    font-size: 2.6rem;
    margin: 2rem 0rem;
}
#add-svg {
    width: 2.5rem;
    padding: 0.5rem;
}
.wind{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    font-size: 1.6rem;
    gap: 1.4rem;
    padding: 1rem;
}
/* styles for search form at the bottom of page */
#weather-search {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
#searchbar{
    justify-self: center;
    border-radius: 1rem;
    border: 1px solid gray;
    width: 40%;
    padding: 0rem 1rem;
}
#searchButton{
    background-color: blue;
    color: white;
    font-size: 2rem;
    font-family: 'Poppins';
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 1rem;
}
/* used to change fonts in info-wrapper*/
.headline{
    font-size: 3.6rem;
}
.accented{
    font-size: 2.6rem;
}
/* used for fade-in and fade-out effect */
.hide {
    transition: opacity 500ms ease-in-out;
    opacity: 0%;
}
.reveal {
    transition: opacity 500ms ease-in-out;
    opacity: 100%;
}

@media (max-width: 500px) {
    .display-container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    #logo-svg {
        width: 3rem;
    }
    .logo-text {
        font-size: 1.8rem;
    }
    #content {
        height: 100%;
        align-self: stretch;
    }
    

}